  
body{
    margin: 0;
    width: 100%;
    background-image: url(assets/background-nuvent.png);
    background-size: cover;
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-style: normal;
}


.bloco-login{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;


    width: 550px;
    height: 742px;

    padding-left: 60px;

    background-color: #1C1C39;
    color: white;

}

/* ------------------------------------*/
.nuvent{
    display: flex; 
    align-items: center;
    /*background-color: coral;*/
    
    width: 80%;
    height: 88px;
}

.bloco-login .nuvent img{
    width: 70px;
    height: 70px;
}
/* ------------------------------------*/
.bem-vindo{
    display: flex; 
    align-items: center;
    
    /*background-color: green;*/
    
    width: 80%;
    height: 45px;
    padding-left: 3px;
}

.bloco-login .bem-vindo img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}
/* ------------------------------------*/
.frase{
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 16px;
    padding-left: 5px;
}
/* ------------------------------------*/
input{
    border-color: white;
    background-color: #1C1C39;
    width: 420px;
    height: 50px;
    padding-left: 20px;
    border-radius: 5px;
    color: white;
    
}

 p{
    background-color:#1C1C39;
    width: 55px;
    /**/
    padding-left: 10px;
    margin-left: 15px;
    
    
    
    gap: 20px;
    margin-top: -65px; /*pro conteúdo ficar com aquela estilização de invadir a section anterior*/
    margin-bottom: 80px;
}
  
/* ------------------------------------*/
.links{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    width: 100%;
    border-radius: 40px;
    padding: 10px;
    border: none;
    margin: 10px;

    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.button-entrar{
    background-color: #6E82DF;
}
.button-entrar:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.button-entrar-gmail{
    background-color: white;
}
.button-entrar-gmail:hover{
    background-color: #000000;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

a{
    font-weight: bold;
    color: white;
}
a:hover{
    color: #6E82DF;
    transition: all 0.2s ease-in-out;
}