* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Bloco Header - Início */

.header {
    background-color: #2a4b85;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5% 0;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: -3px 0px 20px 5px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.36%;
    color: white;
    border-radius: 4px;
}

.links a {
    margin: 0 10%;
    padding: 7%;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.links a:hover {
    background-color: #213f72;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;
}

.loginCadastro {
    display: flex;
    justify-content: end;
    width: 10%;
}

.loginCadastro span {
    margin-right: 10%;
    color: white;
    background-color: #213f72;
    padding: 6%;
    border-radius: 4px;
    border: solid #2781bc;
    border-width: 1px;
    transition: all 0.2s ease-in-out;
}

.loginCadastro span:hover {
    box-shadow: 0 0 3px black;
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.2s ease-in-out;
}

.header .branding img {
    height: 4.7rem;
    margin-right: 5%;
}

.branding {
    display: flex;
    align-items: center;
    color: white;
}

a{
    color: #fff;
    text-decoration: none;
}
/* Bloco Header - Fim */

section.conteudo {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section.conteudo div {
    margin: 0 0;
    margin-top: 5%;
}

/* BANNER */

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    background-color: #2781bc;
    margin: 0;
    color: white;
    transform: translate(0, 2px);
    box-shadow: 0 -400px 0 200px #2781bc;
}

.textoBanner h1, .textoBanner p {
    margin: 2% 0;
    margin-right: 5%;
    line-height: 145%;
    font-size: 20px;
}

.textoBanner h1 {
    font-size: 30px;
}

section.conteudo img {
    z-index: 2;
}

.textoBanner {
    width: 35%;
}

.logoBanner img {
    height: 45vh;
}

/* SOBRE */

.conteudo .sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 800px;

    background: rgb(230,230,230);
    background: linear-gradient(0deg, rgba(230,230,230,0.9853992622439601) 0%, rgba(255,255,255,1) 85%);
    
}

.conteudo .sobre .sobre_introducao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.conteudo .sobre .sobre_introducao p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.conteudo .sobre .sobre_introducao button{
    margin-top: 8px;
    margin-bottom: 30px;
}
.conteudo .sobre_missao{
    
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 80%;
    height: auto;
    margin-top: 0;
}

.conteudo .sobre .item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border: solid rgb(159, 159, 159);
    border-width: 2px;
    border-radius: 7px;
    margin-top: 0;


    width: 300px;
    height: 360px;

    padding: 15px;

    box-shadow: #bbbaba 0px 0px 5px 1px;
}

.conteudo .sobre #facaParte{
    margin-top: 20px;
    margin-bottom: 10px;
}
.conteudo .sobre .item img {
    width: 200px;
    object-fit: cover;
}

.conteudo .sobre .item p {
    text-align: center;
    line-height: 130%;
    margin-top: 10px;
}

.conteudo .sobre .item {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(234, 234, 234) 100%); 
    
}

/* SOLUÇÃO */
.solucao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 0 90px rgb(234, 234, 234);
}

.solucao h1{
    text-align: center;
    margin-bottom: 1.5%;
}

.solucao p {
    text-align: justify;
    margin: 0 10%;
    line-height: 135%;
}